:root {
  --bs-primary-text-emphasis: #052c65;
  --bs-success: #198754;
}

.bgc-header {
  background-color: var(--bs-primary-text-emphasis);
}

/*HEADER*/

.text-header {
  color: white;
}

.fa-bars {
  color: lightgrey;
  border: 1px solid lightgray;
  padding: 3px;
}

/*FINE HEADER*/

/*JUMBOTRON*/
.jumbotron {
  height: 500px;
  background-color: var(--bs-success);
}
/*FINE JUMBOTRON*/

/*PORTFOLIO*/

.portfolio-title {
  text-align: center;
  margin-top: 30px;
}

.layer {
  width: 50%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar {
  width: 20%;
  height: 3px;
  margin: 7px;
  background-color: rgb(24, 23, 23);
}
